.git
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
.Python
env/
venv/
.venv/
node_modules/
.pytest_cache/
.mypy_cache/
.DS_Store
data/
notebooks/
logs/
frontend/
docs/
anaconda_projects/
start_jupyter.sh
